{% extends 'home_template.html' %}
{% block content %}

<div class="container">
    <h2 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Add Review</h2>
    {% if message %}
    <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
      {{ message }}
    </div>
    {% endif %}
    <div class="card" style="max-width: ">
        <div class="card-header"><h5>Review for {{dealerId}}</h5></div>
        <div class="card-body">
            <p class="card-text">Text box for review here</br></p>

        </div>
    </div>

</div>

{% endblock %}
