{% extends 'home_template.html' %}
{% block content %}
    

<div class="container">
    <h2 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h2>
 
    <div class="card" style="max-width: ">
        <div class="card-header"><h5>Best Cars Headquarters</h5></div>
        <div class="card-body">
            <p class="card-text">14 N Moore St, New York, NY 10013, USA.</br></p>
            <a class="card-text" href="https://www.latlong.net/c/?lat=40.72044296848073&long=-74.00665551449227">Location: (40.72044296848073, -74.00665551449227)</a>
            <p class="card-text"></br>Phone: 555-123-4567</br> Email: info@bestcars.com </p>
        </div>
    </div>

</div>


{% endblock %}

