{% extends 'home_template.html' %}
{% block content %}
    

<div class="container">
    <h2 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h2>
 
    <div class="card" style="max-width: ">
        <div class="card-header"><h5>Best Cars Location</h5></div>
        <div class="card-body">
            <p class="card-text">Best Cars HQ</br>1 Main Street, New York City, NY, USA </br></p>
            <p class="card-text">Phone: 555-123-4567</br> Email: info@bestcars.com </p>
        </div>
    </div>

</div>


{% endblock %}

